**/venv/
**/.venv/
**/.idea/
**/__pycache__/
**/*.pdf
**/*.odt
**/.DS_Store

**/.xdp-*
**/*.aux
**/*.log
**/*.tex.bak
**/*.out
**/*.toc
**/*.gz

**/Practica\ 7/2nd_test/*
**/Practica\ 8/lightning_logs/*

